@import "tailwindcss";
div::-webkit-scrollbar {
  display: none;
}

 .custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

 .custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}


/* For Chrome, Edge, and Safari - already handled below */
 .custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

 .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #22d3ee;
  border-radius: 10px;
}



@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px #00ffcc; /* change to any color you want */
}
